@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gold: #fde047;
}

.react-rater-star.is-active-half:before {
  color: var(--gold) !important;
}

.react-rater-star.is-active {
  color: var(--gold) !important;
}

.image-gallery-image {
  border-radius: 0.5rem;
}
